/* 
.Main-Button-Default{
    width: 217px;
    height: 56px;
    border-radius: 6px;
    background-color: #0E8784;
}

.Main-Button-Hover{
    background-color: #66D2CF;
}

.Main-Button-Disabled{
    background-color: #E2DEDB;
} */
.greatcoffee .greatcoffee_link, .works .works_link {
  width: 217px;
  height: 56px;
  border-radius: 6px;
  background-color: #0E8784;
  display: inline-block;
  font-weight: 900;
  font-size: 18px;
  text-align: center;
  color: #FEFCF7;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.works .works-oval {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  border: 2px solid #0E8784;
  background-color: #fff;
  position: relative;
  margin-right: 349px;
  margin-bottom: 67px;
}

.background .our-collection {
  padding-top: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black;
  background: -webkit-linear-gradient(rgba(148, 148, 148, 0.5), #fefcf7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -1;
  position: absolute;
  opacity: 0.3;
  display: block;
  margin: 0 auto;
}

@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/fraunces-v10-latin-ext_latin-300.woff2") format("woff2"), url("../fonts/fraunces-v10-latin-ext_latin-300.woff") format("woff");
}

@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/fraunces-v10-latin-ext_latin-regular.woff2") format("woff2"), url("../fonts/fraunces-v10-latin-ext_latin-regular.woff") format("woff");
}

@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/fraunces-v10-latin-ext_latin-500.woff2") format("woff2"), url("../fonts/fraunces-v10-latin-ext_latin-500.woff") format("woff");
}

@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/fraunces-v10-latin-ext_latin-600.woff2") format("woff2"), url("../fonts/fraunces-v10-latin-ext_latin-600.woff") format("woff");
}

@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/fraunces-v10-latin-ext_latin-700.woff2") format("woff2"), url("../fonts/fraunces-v10-latin-ext_latin-700.woff") format("woff");
}

@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/fraunces-v10-latin-ext_latin-900.woff2") format("woff2"), url("../fonts/fraunces-v10-latin-ext_latin-900.woff") format("woff");
}

@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/fraunces-v10-latin-ext_latin-800.woff2") format("woff2"), url("../fonts/fraunces-v10-latin-ext_latin-800.woff") format("woff");
}

/* ======================================================================================== */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/barlow-v5-latin-ext_latin-300.woff2") format("woff2"), url("../fonts/barlow-v5-latin-ext_latin-300.woff") format("woff");
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/barlow-v5-latin-ext_latin-regular.woff2") format("woff2"), url("../fonts/barlow-v5-latin-ext_latin-regular.woff") format("woff");
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/barlow-v5-latin-ext_latin-500.woff2") format("woff2"), url("../fonts/barlow-v5-latin-ext_latin-500.woff") format("woff");
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/barlow-v5-latin-ext_latin-700.woff2") format("woff2"), url("../fonts/barlow-v5-latin-ext_latin-700.woff") format("woff");
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/barlow-v5-latin-ext_latin-600.woff2") format("woff2"), url("../fonts/barlow-v5-latin-ext_latin-600.woff") format("woff");
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/barlow-v5-latin-ext_latin-900.woff2") format("woff2"), url("../fonts/barlow-v5-latin-ext_latin-900.woff") format("woff");
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/barlow-v5-latin-ext_latin-800.woff2") format("woff2"), url("../fonts/barlow-v5-latin-ext_latin-800.woff") format("woff");
}

@font-face {
  font-family: 'Fraunces_9pt';
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../font/Fraunces_9pt,Soft-Thin.woff2") format("woff2"), url("../font/Fraunces_9pt,Soft-Thin.woff") format("woff");
}

/* ============================================================================ */
* {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Fraunces', serif;
  font-size: 72px;
  line-height: 72px;
  font-weight: 900;
}

h2 {
  font-family: 'Fraunces', serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 900;
}

h3 {
  font-family: 'Fraunces', serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 900;
}

h4 {
  font-family: 'Fraunces', serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 900;
}

.bar-icon {
  display: none;
  fill: black;
  width: 16px;
  height: 15px;
}

body {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 1px;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.header {
  height: 113px;
  background-color: #fff;
}

.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 113px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_nav .header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.header_nav .header_item {
  margin-left: 33px;
}

.header_nav .header_item .header_link {
  font-size: 12px;
  font-weight: 700;
  font-family: "Barlow";
  color: #83888F;
  text-transform: uppercase;
}

.header_nav .header_item .header_link:hover {
  color: #333D4B;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

.greatcoffee {
  background-image: url("../tiny-img/Bitmap-desk.png");
  width: 1280px;
  height: 600px;
  margin-bottom: 136px;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.greatcoffee .greatcoffee_title {
  color: #FEFCF7;
  width: 590px;
  padding-top: 117px;
  padding-left: 86px;
  margin-bottom: 32px;
}

.greatcoffee .greatcoffee_text {
  font-size: 16px;
  font-weight: 400;
  color: #FEFCF7;
  width: 450px;
  padding-left: 86px;
  margin-bottom: 56px;
  line-height: 26px;
  opacity: .8;
  font-family: "Barlow";
}

.greatcoffee .greatcoffee_link {
  margin-left: 86px;
}

.greatcoffee .greatcoffee_link:hover {
  background-color: #66D2CF;
  background-color: #66D2CF;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

.greatcoffee .greatcoffee_link:disabled {
  background-color: #E2DEDB;
}

.greatcoffee .greatcoffee_link:active {
  background-color: #E2DEDB;
  color: #333D4B;
}

.background {
  width: 1111px;
  margin: 0 auto;
}

.background .our-collection {
  font-size: 150px;
  text-align: center;
  height: 196px;
  width: 1111px;
}

.ourcollection {
  margin-bottom: 190px;
  margin-top: 262px;
}

.ourcollection .ourcollection_box-wrapper {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 85px;
}

.ourcollection .ourcollection_box-wrapper .ourcollection_box {
  text-align: center;
}

.ourcollection .ourcollection_box-wrapper .ourcollection_box_img {
  margin-bottom: 72px;
}

.ourcollection .ourcollection_box-wrapper .ourcollection_box_title {
  color: #333D4B;
  margin-bottom: 9px;
}

.ourcollection .ourcollection_box-wrapper .ourcollection_box_text {
  padding: 15px;
  width: 255px;
  height: 78px;
  color: #333D4B;
  font-size: 16px;
}

.choose {
  position: relative;
  margin-bottom: 351px;
}

.choose .choose_content {
  width: 1280px;
  height: 577px;
  background-color: #333D4B;
  color: #FEFCF7;
  text-align: center;
  border-radius: 10px;
}

.choose .choose_content .choose_title {
  padding-top: 100px;
  margin-bottom: 32px;
}

.choose .choose_content .choose_text {
  width: 604px;
  margin: 0 auto;
  font-size: 16px;
  opacity: .8;
}

.choose .choose_box-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1110px;
  margin: 0 85px;
  position: absolute;
  top: 350px;
}

.choose .choose_box-wrapper .choose_box {
  width: 350px;
  height: 382px;
  background-color: #0E8784;
  padding: 47px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px 15px;
  color: #FEFCF7;
  text-align: center;
  border-radius: 8px;
}

.choose .choose_box-wrapper .choose_box .choose_box_title {
  padding-top: 153px;
  margin-bottom: 24px;
}

.choose .choose_box-wrapper .choose_box .choose_box_text {
  font-size: 16px;
}

.choose .choose_box-wrapper .best-quality {
  position: relative;
}

.choose .choose_box-wrapper .best-quality::before {
  content: '';
  background-image: url("../img/best-quality.svg");
  width: 72px;
  height: 72px;
  position: absolute;
  left: 134px;
  top: 72px;
}

.choose .choose_box-wrapper .exclusive-benefits {
  position: relative;
}

.choose .choose_box-wrapper .exclusive-benefits::before {
  content: '';
  background-image: url("../img/benefits.svg");
  width: 72px;
  height: 72px;
  position: absolute;
  left: 134px;
  top: 72px;
}

.choose .choose_box-wrapper .free-shipping {
  position: relative;
}

.choose .choose_box-wrapper .free-shipping::before {
  content: '';
  background-image: url("../img/free-shipping.svg");
  width: 72px;
  height: 50px;
  position: absolute;
  left: 134px;
  top: 83px;
}

.works .works_title {
  color: #83888F;
  margin-bottom: 80px;
}

.works .works-oval::after {
  content: '';
  display: block;
  width: 349px;
  height: 2px;
  background-color: #FDD6BA;
  position: absolute;
  top: 50%;
  left: 31px;
}

.works .oval3::after {
  visibility: hidden;
  position: absolute;
}

.works .works_box-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works .works_box-wrapper .works_box {
  width: 315px;
  height: 355px;
  color: #333D4B;
  margin-bottom: 64px;
}

.works .works_box-wrapper .works_box:nth-child(-n + 2) {
  margin-right: 95px;
}

.works .works_box-wrapper .works_box .works_box_number {
  color: #FDD6BA;
  margin-bottom: 38px;
}

.works .works_box-wrapper .works_box .works_box_title {
  margin-bottom: 42px;
  width: 255px;
}

.works .works_box-wrapper .works_box .works_box_text {
  font-size: 16px;
}

.works .works_link {
  margin-bottom: 200px;
}

.works .works_link:hover {
  background-color: #66D2CF;
  background-color: #66D2CF;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

.works .works_link:disabled {
  background-color: #E2DEDB;
}

.works .works_link:active {
  background-color: #E2DEDB;
  color: #333D4B;
}

.footer .footer-wrapper {
  background-color: #333D4B;
  height: 120px;
  padding: 47px 85px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-wrapper .footer_list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-wrapper .footer_list .footer_item .footer_link {
  color: #83888F;
  font-size: 12px;
  font-weight: 700;
  margin-right: 33px;
  text-transform: uppercase;
}

.footer .footer-wrapper .footer_list .footer_item .footer_link:hover {
  color: #FEFCF7;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

.footer .footer-wrapper .footer_network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-wrapper .footer_network .footer_network_link .fab {
  color: #FEFCF7;
}

.footer .footer-wrapper .footer_network .footer_network_link .fab:nth-child(-n + 2) {
  margin-right: 24px;
}

.footer .footer-wrapper .footer_network .footer_network_link .fab:hover {
  color: #FDD6BA;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

.footer .footer-wrapper .footer_network .footer_network_link .fa-facebook-square, .footer .footer-wrapper .footer_network .footer_network_link .fa-instagram {
  font-size: 24px;
}

@media only screen and (max-width: 768px) {
  body .header .container {
    width: 688px;
    margin: 0 auto;
  }
  body .header .container .header_logo_img {
    width: 236px;
    height: 26px;
  }
  body .main .container {
    width: 688px;
    margin: 0 auto;
  }
  body .main .container .greatcoffee {
    background-image: url("../tiny-img/Bitmap-tabl.jpg");
    width: 688px;
    height: 500px;
    margin-bottom: 144px;
  }
  body .main .container .greatcoffee .greatcoffee_title {
    font-size: 48px;
    line-height: 48px;
    color: #FEFCF7;
    width: 340px;
    padding-top: 104px;
    padding-left: 58px;
    margin-bottom: 24px;
  }
  body .main .container .greatcoffee .greatcoffee_text {
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    color: #FEFCF7;
    width: 398px;
    padding-left: 58px;
    margin-bottom: 56px;
    line-height: 26px;
    opacity: .8;
    font-family: "Barlow";
  }
  body .main .container .greatcoffee .greatcoffee_link {
    margin-left: 58px;
  }
  body .main .container .background {
    width: 688px;
    margin: 0 auto;
  }
  body .main .container .background .our-collection {
    font-size: 94px;
    height: 119px;
    width: 688px;
    text-align: center;
    line-height: 72px;
    padding-top: 0;
  }
  body .main .container .ourcollection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 203px;
  }
  body .main .container .ourcollection .ourcollection_box-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .main .container .ourcollection .ourcollection_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
  body .main .container .ourcollection .ourcollection_box .kopi-box {
    padding-top: 30px;
  }
  body .main .container .choose {
    position: relative;
    margin-bottom: 351px;
  }
  body .main .container .choose .choose_content {
    width: 688px;
    height: 573px;
    background-color: #333D4B;
    color: #FEFCF7;
    text-align: center;
    border-radius: 10px;
  }
  body .main .container .choose .choose_content .choose_title {
    padding-top: 56px;
    margin-bottom: 24px;
  }
  body .main .container .choose .choose_content .choose_text {
    width: 540px;
    margin: 0 auto;
    font-size: 16px;
    opacity: .8;
    font-size: 15px;
  }
  body .main .container .choose .choose_box-wrapper {
    width: 593px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 275px;
    margin-left: 47.5px;
    margin-right: 47.5px;
  }
  body .main .container .choose .choose_box-wrapper .choose_box {
    text-align: left;
    margin: 10px;
    width: 573px;
    height: 180px;
    padding: 41px 48px 41px 181px;
  }
  body .main .container .choose .choose_box-wrapper .choose_box .choose_box_title {
    padding: 0;
    margin-bottom: 16px;
  }
  body .main .container .choose .choose_box-wrapper .choose_box .choose_box_text {
    width: 344px;
    line-height: 25px;
    font-size: 15px;
  }
  body .main .container .choose .choose_box-wrapper .best-quality {
    position: relative;
  }
  body .main .container .choose .choose_box-wrapper .best-quality::before {
    content: '';
    background-image: url("../img/best-quality.svg");
    width: 72px;
    height: 72px;
    position: absolute;
    left: 70px;
    top: 72px;
  }
  body .main .container .choose .choose_box-wrapper .exclusive-benefits {
    position: relative;
  }
  body .main .container .choose .choose_box-wrapper .exclusive-benefits::before {
    content: '';
    background-image: url("../img/benefits.svg");
    width: 72px;
    height: 72px;
    position: absolute;
    left: 70px;
    top: 72px;
  }
  body .main .container .choose .choose_box-wrapper .free-shipping {
    position: relative;
    margin-bottom: 144px;
  }
  body .main .container .choose .choose_box-wrapper .free-shipping::before {
    content: '';
    background-image: url("../img/free-shipping.svg");
    width: 72px;
    height: 50px;
    position: absolute;
    left: 70px;
    top: 83px;
  }
  body .main .container .works .works_title {
    margin-top: 434px;
    margin-bottom: 40px;
  }
  body .main .container .works .works-oval {
    margin-right: 202px;
    display: inline-block;
  }
  body .main .container .works .works-oval::after {
    width: 202px;
  }
  body .main .container .works .oval3 {
    margin-right: 0;
  }
  body .main .container .works .works_box-wrapper {
    margin-bottom: 44px;
  }
  body .main .container .works .works_box-wrapper .works_box {
    width: 223px;
    height: 371px;
  }
  body .main .container .works .works_box-wrapper .works_box:nth-child(-n + 2) {
    margin-right: 10px;
  }
  body .main .container .works .works_box-wrapper .works_box .works_box_number {
    color: #FDD6BA;
  }
  body .main .container .works .works_box-wrapper .works_box .works_box_title {
    font-size: 28px;
    width: 223px;
  }
  body .main .container .works .works_box-wrapper .works_box .works_box_text {
    width: 223px;
    height: 154px;
    font-size: 15px;
    line-height: 25px;
  }
  body .main .container .works .works_link {
    margin-bottom: 144px;
  }
  body .footer .container {
    width: 688px;
    margin: 0 auto;
  }
  body .footer .container .footer-wrapper {
    width: 688px;
    height: 270px;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-top: 54px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .footer .container .footer-wrapper .footer_link_img {
    padding-right: 30px;
  }
  body .footer .container .footer-wrapper .footer_list {
    width: 283px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .footer .container .footer-wrapper .footer_list .footer_item .footer_link {
    margin: 0;
  }
  body .footer .container .footer-wrapper .footer_list .footer_item .link3 {
    margin-right: 0;
  }
  body .footer .container .footer-wrapper .footer_network .footer_network_link .fa-facebook-square {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 378px) {
  * {
    margin: 0;
    padding: 0;
  }
  body .header .container {
    width: 327px;
    margin: 0 auto;
  }
  body .header .container .header_nav {
    position: relative;
  }
  body .header .container .header_list {
    display: none;
  }
  body .bar-icon {
    display: block;
    fill: black;
    width: 16px;
    height: 20px;
  }
  body .dropbtn {
    width: 40px;
    height: 40px;
  }
  body .dropdown {
    width: 16px;
    height: 20px;
    display: inline-block;
  }
  body .header_list {
    display: none;
    position: absolute;
    top: 83px;
    left: 0;
    right: 0;
    background-color: #333D4B;
    min-width: 160px;
    width: 327px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin: 0;
    font-size: 15px;
    list-style-type: none;
  }
  body .header_list .header_item {
    margin: 0;
  }
  body .header_list .header_item .header_link {
    padding: 10px 14px;
    text-decoration: none;
    display: block;
    color: #83888F;
  }
  body .header_list .header_item .header_link:hover {
    color: #FEFCF7;
  }
  body .dropdown:hover .header_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .main .container {
    width: 327px;
    margin: 0 auto;
  }
  body .main .container #greatcoffee {
    background-image: url("../tiny-img/Bitmap-mob.png");
    width: 327px;
    height: 500px;
    margin-bottom: 120px;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 100px 24px 99px 24px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body .main .container #greatcoffee .greatcoffee_title {
    font-size: 39px;
    letter-spacing: .9px;
    line-height: 40px;
    font-weight: 800;
    display: inline-block;
    color: #FEFCF7;
    width: 279px;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
  }
  body .main .container #greatcoffee .greatcoffee_text {
    font-size: 15px;
    font-weight: 400;
    color: #FEFCF7;
    width: 279px;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 39px;
    line-height: 25px;
    opacity: .8;
    font-family: "Barlow";
    letter-spacing: .3px;
  }
  body .main .container #greatcoffee .greatcoffee_link {
    margin-left: 31px;
    margin-right: 31px;
  }
  body .main .container .background {
    width: 327px;
    height: 72px;
    margin: 0 auto;
    margin-bottom: 13px;
  }
  body .main .container .background .our-collection {
    font-size: 38px;
    height: 72px;
    width: 327px;
    text-align: center;
    line-height: 72px;
    padding-top: 0;
  }
  body .main .container .ourcollection {
    width: 327px;
    padding: 0 20.5px;
    margin: 0 auto;
    margin-bottom: 120px;
    display: inline-block;
  }
  body .main .container .ourcollection .ourcollection_box-wrapper {
    z-index: 2;
    display: inline-block;
    margin-left: 0;
    width: 282px;
    margin: 0 auto;
  }
  body .main .container .ourcollection .ourcollection_box-wrapper .ourcollection_box {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 48px;
  }
  body .main .container .ourcollection .ourcollection_box-wrapper .ourcollection_box_img {
    margin-bottom: 24px;
  }
  body .main .container .ourcollection .ourcollection_box-wrapper .ourcollection_box_title {
    color: #333D4B;
    margin-bottom: 9px;
  }
  body .main .container .ourcollection .ourcollection_box-wrapper .ourcollection_box_text {
    padding: 15px;
    width: 282px;
    height: 78px;
    color: #333D4B;
    font-size: 16px;
    padding: 0;
  }
  body .main .container .choose .choose_content {
    width: 279px;
    height: 902px;
    padding: 0 24px;
    margin-bottom: 717px;
  }
  body .main .container .choose .choose_content .choose_title {
    font-size: 28px;
  }
  body .main .container .choose .choose_content .choose_text {
    width: 279px;
    height: 125px;
    margin: 0;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }
  body .main .container .choose .choose_box-wrapper {
    display: inline-block;
    width: 279px;
    margin: 0;
    position: absolute;
    top: 305px;
    left: 24px;
  }
  body .main .container .choose .choose_box-wrapper .choose_box {
    width: 279px;
    height: 382px;
    margin: 0;
    text-align: center;
    padding: 200px 33.5px 51px 33.5px;
    margin-bottom: 24px;
  }
  body .main .container .choose .choose_box-wrapper .choose_box .choose_box_title {
    margin: 0;
    padding: 0;
  }
  body .main .container .choose .choose_box-wrapper .choose_box .choose_box_text {
    width: 212px;
    height: 75px;
    padding: 0;
    margin: 0;
  }
  body .main .container .choose .choose_box-wrapper .best-quality {
    position: relative;
  }
  body .main .container .choose .choose_box-wrapper .best-quality::before {
    content: '';
    background-image: url("../img/best-quality.svg");
    width: 72px;
    height: 72px;
    position: absolute;
    left: 104px;
    top: 72px;
  }
  body .main .container .choose .choose_box-wrapper .exclusive-benefits {
    position: relative;
  }
  body .main .container .choose .choose_box-wrapper .exclusive-benefits::before {
    content: '';
    background-image: url("../img/benefits.svg");
    width: 72px;
    height: 72px;
    position: absolute;
    left: 104px;
    top: 72px;
  }
  body .main .container .choose .choose_box-wrapper .free-shipping {
    position: relative;
    margin-bottom: 144px;
  }
  body .main .container .choose .choose_box-wrapper .free-shipping::before {
    content: '';
    background-image: url("../img/free-shipping.svg");
    width: 72px;
    height: 50px;
    position: absolute;
    left: 104px;
    top: 83px;
  }
  body .main .container .works .works_title {
    width: 327px;
    text-align: center;
    margin-top: 434px;
    margin-bottom: 40px;
  }
  body .main .container .works .works-oval {
    margin-right: 202px;
    display: inline-block;
    display: none;
  }
  body .main .container .works .oval3 {
    margin-right: 0;
  }
  body .main .container .works .works_box-wrapper {
    margin-bottom: 44px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  body .main .container .works .works_box-wrapper .works_box {
    width: 327px;
    height: 252px;
  }
  body .main .container .works .works_box-wrapper .works_box:nth-child(-n + 2) {
    margin-right: 0;
  }
  body .main .container .works .works_box-wrapper .works_box .works_box_number {
    color: #FDD6BA;
    font-size: 72px;
    margin-bottom: 24px;
  }
  body .main .container .works .works_box-wrapper .works_box .works_box_title {
    font-size: 27px;
    width: 327px;
    margin-bottom: 24px;
  }
  body .main .container .works .works_box-wrapper .works_box .works_box_text {
    width: 327px;
    height: 154px;
    font-size: 15px;
    line-height: 25px;
  }
  body .main .container .works .works_link {
    display: inline-block;
    width: 217px;
    height: 56px;
    margin: 0 auto;
    margin-left: 53.5px;
    margin-bottom: 120px;
  }
  body .footer .container {
    width: 327px;
    margin: 0 auto;
  }
  body .footer .container .footer-wrapper {
    width: 327px;
    height: 346px;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-top: 54px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .footer .container .footer-wrapper .footer_link_img {
    padding-right: 30px;
  }
  body .footer .container .footer-wrapper .footer_list {
    width: 283px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .footer .container .footer-wrapper .footer_list .footer_item .footer_link {
    margin: 0;
  }
  body .footer .container .footer-wrapper .footer_list .footer_item .link3 {
    margin-right: 0;
  }
  body .footer .container .footer-wrapper .footer_network .footer_network_link .fa-facebook-square {
    margin-left: 20px;
  }
}
/*# sourceMappingURL=main.css.map */